@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*body style*/
body {
    background: radial-gradient(ellipse at top, #1c1c1c, transparent),
        radial-gradient(ellipse at bottom, #3f691d, transparent);
    ;
    font-family: "Fjalla-one", sans-serif;
    min-height: 100vh;
    padding: 10px 90px;
    margin: 20px 0;
    width: 100%;

}
/*cntainer style*/
.container {
    background-color: #1c1c1c85;
    width: 440px;
    max-width: 100%;
    margin: 0 auto;
    border: 3px solid #1c1c1c;
    border-radius: 25px;




}
/*header style*/
header {

    padding: 20px;
    color: aliceblue;


}

h1 {
    font-size: 1.1rem;
    margin: 0;
    text-transform: uppercase;
}

h4 {
    color: #1c1c1c;
    margin: 0;
    text-transform: uppercase;
}

.score-container {
    background-color: #3f691d;
    height: 100px;
    border: 1px solid #1c1c1c;
    margin: 0;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 0;
    text-align: center;
    column-count: 2;

}

#score {
    font-size: 2rem;
    color: black;
    margin: 5px;
    padding: 5px;
    background-color: rgb(49, 146, 236);
}

#cscore {

    font-size: 2rem;
    color: rgb(7, 7, 7);
    margin: 5px;
    padding: 5px;
    background-color: rgba(180, 63, 27, 0.973);

}


/*game style*/

.game {
    font-size: 3rem;
    text-align: center;
    column-count: 5;
    column-gap: 0px;
    padding: 20px 0 20px;

}

#note {
    display: block;
    text-transform: uppercase;
    padding: 10px 0 10px;
    text-align: center;
}

/*computer and use choise style*/
.content {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0 20px;
    color: aliceblue;
    text-transform: uppercase;
}

.content #user{
    background-color: rgb(49, 146, 236);
    color: black;
    font-family: "Lobster", sans-serif;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
}

.content #comp{
    background-color: rgba(180, 63, 27, 0.973);
    color: black;
    font-family: "Lobster", sans-serif;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
}
#computer-choice{
    font-size: 5rem;
    padding: 20px 0 10px;
}


.span {
    text-align: center;
    font-size: 1.5rem;

}

img {
    display: flex;
    background-color: #7f80ff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #1c1c1c;
    height: 280px;


}

/*play button style*/

#play {
    font-size: 2rem;
    margin: 20px 0 10px;
    color: #3f691d;
    background-color: black;
}

#play:hover {
    background-color: aliceblue;
}


/*rules style*/
.rules {
    color: aliceblue;
    background-color: #1c1c1c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lobster", sans-serif;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    display: inline-grid;

}
#rules-s{
    text-align: center;
}


/*medios for mobile*/
@media screen and (max-width: 450px) {
    body {
        
        min-height: 100vh;
        padding: 10px 5px;
        margin: 10px 0;
        width: 75%;
    }

    header {

        padding: 10px;
        color: aliceblue;


    }

    h1 {
        width: 66%;
        height: 50px;
        text-align: center;
        display: table-cell;
        text-transform: uppercase;
    }

    h4 {

        margin: 0;
        text-transform: uppercase;
    }

    .container {
        background-color: #1c1c1c85;
        width: 440px;
        max-width: 100%;
        margin: 0 auto;
        border: 3px solid #1c1c1c;
        border-radius: 25px;

    }

    .score-container {
        background-color: #3f691d;
        height: 100px;
        border: 1px solid #1c1c1c;
        margin: 0;
        font-size: 0.8rem;
        border-radius: 10px;
        padding: 10px 10px;
        margin: 10px 0;
        text-align: center;
        column-count: 2;

    }
    #computer-choice {
        font-size: 0.8rem;
        padding: 20px 0 10px;
    }

    #score {
        font-size: 0.8rem;
        margin: 5px 0 5px;
        padding: 5px 0 5px;
    }

    #cscore {

        font-size: 0.8rem;
        margin: 5px 0 5px;
        padding: 5px 0 5px;

    }

    .game {
        font-size: 0.8rem;
        text-align: center;
        column-count: 5;
        column-gap: 40px;
        padding: 5px 0 5px;
        margin: 5px 0 5px 5px;

    }

    .content {
        text-align: center;
        font-size: 1rem;
        padding: 10px 0 10px;
        text-transform: uppercase;
    }

    #play {
        font-size: 1rem;
        margin: 10px 0 10px;

    }

    .rules {

        text-align: center;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        display: inline-grid;

    }
    #rules-s{
        text-align: center;
    }
    #output{
        font-size: 0.8rem;
    }
    
}

/*media for ipad style*/
@media screen and (max-width: 800px) {

    #rules-s{
        text-align: center;}

        img {
    
            height: 230px;}

            .content {
                font-size: 1.3rem;
                
            }
            .content {
                font-size: 1.3rem;
            }
            
}

@media screen and (max-width: 550px) {

    body {
        
        min-height: 100vh;
        padding: 10px 20px;
        margin: 10px 0;
        width: 100%;
    }

    header {

        padding: 10px;
        color: aliceblue;


    }

    h1 {
        font-size: 1.2rem;
        width: 66%;
        height: 50px;
        text-align: center;
        display: table-cell;
        text-transform: uppercase;
    }

    h4 {
        font-size: 1.2rem;

        margin: 0;
        text-transform: uppercase;
    }

    .container {
        width: 440px;
        max-width: 80%;
        margin: 0 auto;
    }

    

    .score-container {
        height: 100px;
        margin: 0;
        font-size: 1rem;
        padding: 10px 10px;
        margin: 10px 0;
        text-align: center;
        column-count: 2;

    }
    #computer-choice {
        font-size: 1rem;
        padding: 20px 0 10px;
    }

    #score {
        font-size: 1rem;
        margin: 5px 0 5px;
        padding: 5px 0 5px;
    }

    #cscore {

        font-size: 1rem;
        margin: 5px 0 5px;
        padding: 5px 0 5px;

    }

    .game {
        font-size: 1rem;
        text-align: center;
        column-count: 5;
        column-gap: 40px;
        padding: 5px 0 5px;
        margin: 5px 0 5px 5px;

    }

    .content {
        text-align: center;
        font-size: 1.2rem;
        padding: 10px 0 10px;
        text-transform: uppercase;
    }

    #play {
        font-size: 1.2rem;
        margin: 10px 0 10px;

    }

    .rules {

        text-align: center;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        display: inline-grid;

    }
    #rules-s{
        text-align: center;
    }
    #output{
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 350px){
    body{
        width: 100%;
    }

    h4{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 1200px) {
    body {
        
        min-height: 100vh;
        padding: 10px 5px;
        margin: 10px 0;
        
        
    }

    header {

        padding: 10px;
        color: aliceblue;
        text-align: center;
        align-items: center;
        justify-content: center;
        


    }

    h1 {
        width: 66%;
        height: 50px;
        text-align: center;
        display: table-cell;
        text-transform: uppercase;
        
    }

    h4 {
        

        margin: 0;
        text-transform: uppercase;
    }

    .container {
        
      
        font-size: 1.7rem;
      
        
        border-radius: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
    

    }

    .score-container {
        height: 100px;
        margin: 0;
        border-radius: 10px;
        padding: 10px 10px;
        margin: 10px 0;
        text-align: center;
        column-count: 2;
        font-size: 1.5rem;

    }
    #computer-choice {
        
        font-size: 3rem;
        padding: 20px 0 10px;
    }

    #score {
        font-size: 1.5rem;
       
        margin: 5px 0 5px;
        padding: 5px 0 5px;
    }

    #cscore {
        font-size: 1.5rem;

        
        margin: 5px 0 5px;
        padding: 5px 0 5px;

    }

    .game {
        
        text-align: center;
        column-count: 5;
        column-gap: 30px;
        padding: 5px 0 5px;
        margin: 5px 0 5px 5px;
        font-size: 3rem;

    }

    .content {
        text-align: center;
        font-size: 1.7rem;
        padding: 10px 0 10px;
        text-transform: uppercase;
    }

    #play {
        font-size: 1.8rem;
        margin: 10px 0 10px;

    }

    .rules {

        text-align: center;
        font-size: 1.7rem;
        align-items: center;
        justify-content: center;
        display: inline-grid;

    }
    #rules-s{
        text-align: center;
    }
    
}

@media screen and (max-width: 290px){

   body{
       width: 100%;

   }
   

    header {

        padding: 10px;
        color: aliceblue;
        text-align: center;
        align-items: center;
        justify-content: center;
        


    }

    h1 {
        
        height: 50px;
        text-align: center;
        display: table-cell;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    h4 {
        font-size: 0.6rem;

        margin: 0;
        text-transform: uppercase;
    }

    .container {
        
      
        font-size: 1rem;
        border-radius: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
    

    }

    .score-container {
        height: 75px;
        margin: 0;
        border-radius: 10px;
        padding: 10px 10px;
        margin: 10px 0;
        text-align: center;
        column-count: 2;
       

    }
    #computer-choice {
        
        font-size: 1.3rem;
        padding: 20px 0 10px;
    }

    #score {
        font-size: 0.8rem;
        margin: 5px 0 5px;
        padding: 5px 0 5px;
    }

    #cscore {
        font-size: 0.8rem;

        
        margin: 5px 0 5px;
        padding: 5px 0 5px;

    }

    .game {
        
        text-align: center;
        column-count: 5;
        column-gap: 5px;
        padding: 5px 0 5px;
        margin: 5px 0 5px 5px;
        font-size: 1.5rem;

    }

    .content {
        text-align: center;
        font-size: 1rem;
        padding: 10px 0 10px;
        text-transform: uppercase;
    }

    #play {
        font-size: 1rem;
        margin: 10px 0 10px;

    }

    .rules {

        text-align: center;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        display: inline-grid;

    }
    #rules-s{
        text-align: center;
    }
    
    img {
        display: flex;
        background-color: #7f80ff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #1c1c1c;
        height: 190px;
}

}